body{
  text-align: center;
      background-color: #c5b6bb;
}
h2{
      background-color: blue;
      color: white  !important;
          margin: 0 0 20;
              padding: 10px;
          font-size: 30px;
}
#boss{
      background-color: white;
      width: 550px;
    height: auto;
    position: absolute;
    left: 30%;

    border: 2px solid gray;

}
.same{
  width: 500px;
  height: 40px;
      border: 2px solid gray;
}
label{
  font-size: 20px;
}
button{
  width: 200px;
  height: 30px;
}