
.a1 li{
	display:inline;
	margin:0; padding:0px 10px;
}
.a1 a{
	font-size: 25px;
}
.a1 a:link{
	color:red;
}
.a1{
	height: 175px;
	width: 
}
.phantu2 a{
	padding-left: 15px;
	padding-right: 15px;
	float: right;
}
.a3 a{
	color: #c0e0c0;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
}
.d1{
	    position: relative;
    top: 50px;
    text-align: center;
    color: red;
}
.a5{
	background: gray;
}
.a6{
	float: right;
}
.a7{
	position: relative;
	width: 20px;
    height: 21px;
    top: 6px;
    left: 3px;

}
.a9{
	color: #c0e0c0;
	position: absolute;
	top: 92px;
    left: 16px
}
.b1{
	position: absolute;
	float: right;
}
}
.full-screen {
	width: 100%;
}
.text-center {
	text-align: center;
}
.martop-10 {
	height: 100%;
	width: 100%;
	margin-top: 10px;
	
}