.d2 img{
	transition:all 1s;
}
.d2 img:hover{
/*transform:scale(1.05);*/
}
.d2 a:link{
	color: red;
}
.d2 a:active{
	color: gray;
}
.d2 a:hover{
	color: blue;
}.d2 a:visited{
	color: red ;
}
#font img{
	margin: auto;
	border: 30px solid;
	border-style: yellow;
}
#font{
    width: 100%;
    text-align: center;
}

.d2 p{
	/*transition:all 1s;*/
}
.d2 p:hover{
transform:scale(1.05);}
.f1{
	    text-align: center;
	    font-size: 35px;
	    border-top: 2px solid;
	    border-bottom: 2px solid;
}
.anh2{
	position: relative;
	left: 100%;
	padding: 20px;
	background-color: gray;
}
.icon{
	width: 50px;
	height: 50px;
	right: 0px;
	top: 20%;
	position: fixed;

}
.martop-11{
	width: 60%;
}
.icon{
	    top: 20%;
    right: 0px;
    position: fixed
}	
.f2 img{
 width: 300px;
 height: 400px;
}
.can{
	text-align: center;
	padding-top: 50px;
}