@media  screen and (max-width: 768px) {
	.d2 img{
width: 90px;
height: 100px;
}
.d2{
	width: 100%;
	height: 100%;
	text-align: center;
}
p{
	font-size: 10px;
}
.dmsp0 {
    text-align: center;
    font-size: 25px;	
}
.hot{
	position: absolute;
	width: 20px	!important;
	height: 20px !important;
}
#thanhngang::after { 
    content: "";
        top: 70px;
    height: 2px;
    width: 100px;
    background: #b32017;
    margin: 20px auto;
    display: block;
}
.title{
	font-size: 18px !important;
}
.dodai img{  
	width: 80px;
	height: 100px;
}
}