#s1{
	width: 100%;
	height: 200px;
	background-image: url("../images/17rd.jpg" );
	border: 5px solid;

}
#s2 {
	position: absolute;
	left: 150px;
	width: 1000px;
	height: 50px;
	text-align: center;
	font-size: 25px;
	border-top: 2px solid #80772d;
	border-bottom: 2px solid #80772d;
}
#s2 td a{
	text-decoration: none; 
	color: blue;
	
}
#thanhngang{
	    position: relative;
    top: 32px;
width: 100%;
height: 30px;
background-color: #b32017;
}
#thanhngang p{
text-align: center;
font-size: 22px;
color: white;
}