body {
    font-family: 'Open Sans', sans-serif;
}
.dodai {
	text-align: center;
}
.dodai img{
    width: 250px;
    height: 310px;
}
.table{
	display: table;
}
.table p{
	text-align: center;
}
.table div{
	display: table-cell;
	border: 2px solid white;
}
.table div:hover{
	border: 2px solid red;
}
a:hover {
    text-decoration: none;
}
.dmsp0{
	text-align: center;
}
.dmsp1{
	text-align: center;
}
.hot{
	position: absolute;
	width: 50px	!important;
	height: 50px !important;
}
#thanhngang::after { 
    content: "";
        top: 70px;
    height: 2px;
    width: 180px;
    background: #b32017;
    margin: 20px auto;
    display: block;
}
.title{
	font-size: 20px !important;
}
body{
	padding-right: 0px !important;
	overflow: scroll !important;
}
#dmsp1{
	position: relative;
	 text-align: center;
    height:auto;
    padding:10px;
    margin:0 auto;
}
#dmsp1 img{  
  border: 30px solid #a9a0a0;
}
.item-thumb{
	text-align: center;
}
.item-thumb img{
	    overflow: hidden;
}
