
.a1 li{
	display:inline;
	margin:0; padding:0px 10px;
}
.a1 a{
	font-size: 25px;
}
.a1 a:link{
	color:red;
}
.phantu2 a{
	padding-left: 15px;
	padding-right: 15px;
	float: right;
}
.a3 a{
	color: #c0e0c0;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
.a4{
	position: absolute;
	width: 300px;
	height: 300px;
	right: 800px;
	top: -68px;
}
.a5{
	background: gray;
}
.a6{
	float: right;
}
.a7{
	position: absolute;
	right: 181px;
	width: 20px;
	height: 20px;

}
.a9{
	color: #c0e0c0;
	position: absolute;
	top: 92px;
    left: 16px
}
.b1{
	position: absolute;
	float: right;
}